# Application Specific Configuration
PORT=
NODE_ENV=
PROD_URL=

# Cloudflare Regular Configuration
CLOUDFLARE_REQUIRED=true
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=

# Cloudflare R2 Object Storage Configuration
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_BUCKET_NAME=
CLOUDFLARE_R2_PUBLIC_URL=

# Cloudflare D1 Database Configuration
CLOUDFLARE_D1_DATABASE_ID=

# Redis Configuration
REDIS_REST_URL=
REDIS_REST_TOKEN=

# Twilio Messaging Configuration
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=